
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #777;
}

.parallax {
    min-height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.img1 {
    background-image: url('https://static.wikia.nocookie.net/symbolism/images/9/99/Sea.jpg/revision/latest/scale-to-width-down/3888?cb=20250401212251');
}

.img2 {
    background-image: url('https://static.scientificamerican.com/dam/m/abdc63975bb1639/original/underwater_looking_up_towards_surface.jpg?m=1746799382.356');
}


.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: aliceblue;
}



.blackblock {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}