
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #777;
}

.parallax {
    min-height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.img1 {
    background-image: url('https://picsum.photos/id/16/1920/1080');
}

.img2 {
    background-image: url('https://picsum.photos/id/54/1920/1080');
}


.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: aliceblue;
}



.blackblock {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}