
body {
    background-color: #FF69B4;
    margin: 0;
    padding: 20px;
}


h1 {
    color: white;
    text-align: center;
    font-size: 3em;
}


.shop-container {
    display: flex;
    justify-content: center;
    gap: 40px; 
    margin-bottom: 30px;
}

.shop-item {
    text-align: center;
}


.shop-item img {
    width: 300px;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 8px; 
}


.shop-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.shop-item a:hover {
    text-decoration: underline;
}


hr {
    border: 0;
    height: 1px;
    background: white;
    margin: 20px 0;
}


.footer {
    text-align: right;
    font-style: italic;
    font-family: "Courier New", Courier, monospace;
    color: white;
}