html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    height: 100%;
}

table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

#col1 {
    text-align: left;
    padding: 20px;
    background-color: greenyellow;
}

#col2 {
    text-align: left;
    padding: 20px;
    background-color: pink;
}